html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Start html*/
@font-face {
  src: url(Fonts/Righteous-Regular.ttf);
  font-family: righteous;
}

@font-face {
  src: url(Fonts/McLaren-Regular.ttf);
  font-family: mclaren;
}

@font-face {
  src: url(Fonts/Notable-Regular.ttf);
  font-family: notable;
}

@font-face {
  src: url(Fonts/Orbitron-Regular.ttf);
  font-family: orbitron;
}

@font-face {
  src: url(Fonts/PoiretOne-Regular.ttf);
  font-family: poiretone;
}

@font-face {
  src: url(Fonts/Charmonman-Regular.ttf);
  font-family: charmonman;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #03b7fa;
}
::-moz-selection {
  background: #03b7fa;
}

body {
  background-color: snow;
  line-height: 1.4;
}

a.main {
  z-index: 101;
  background-color: black;
  background: rgba(0, 0, 0, 0.8);
  height: 40px;
  width: 9%;
  position: fixed;
  text-align: center;
  bottom: 10px;
  left: 50%;
  margin-left: -4.5%;
  border-radius: 24px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  transition: 0.7s;
}

a.main:hover {
  background: rgba(0, 0, 0, 0.1);
}

a.info {
  z-index: 101;
  width: 40px;
  height: 40px;
  background-color: lightsteelblue;
  position: fixed;
  text-align: center;
  top: 0.7%;
  right: 52%;
  border-radius: 24px;
  border: 3px solid #4056A1;
  text-decoration: none;
  font-size: 36px;
  color: white;
  transition: 0.7s;
}

a.countdown {
  z-index: 101;
  width: 40px;
  height: 40px;
  background-color: lightsteelblue;
  position: fixed;
  text-align: center;
  top: 0.7%;
  left: 50%;
  margin-left: -23px;
  border-radius: 24px;
  border: 3px solid #379683;
  text-decoration: none;
  font-size: 36px;
  color: white;
  transition: 0.7s;
}

a.contact {
  z-index: 101;
  width: 40px;
  height: 40px;
  background-color: lightsteelblue;
  position: fixed;
  text-align: center;
  top: 0.7%;
  left: 52%;
  border-radius: 24px;
  border: 3px solid #F13C20;
  text-decoration: none;
  font-size: 36px;
  color: white;
  transition: 0.7s;
}
a.info:hover {
  border: 3px solid gold;
  transition: 0.3s;
}
a.countdown:hover {
  border: 3px solid gold;
  transition: 0.3s;
}
a.contact:hover {
  border: 3px solid gold;
  transition: 0.3s;
}
img.imghome {
  width: 34px;
  height: 34px;
  padding-top: 2px;
}

img.imginfo {
  width: 40px;
  height: 40px;
  transition: 0.5s;
}

img.imgctdn {
  width: 40px;
  height: 40px;
  transition: 0.5s;
}

img.imgcntt {
  width: 40px;
  height: 40px;
  padding-top: 2px;
  transition: 0.5s;
}

input.searchbar {
  z-index: 101;
  background-color: white;
  border: none;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-left: 9px;
  text-indent: 9px;
  font-family: righteous;
  font-size: 17px;
  width: 270px;
  height: 35px;
  position: fixed;
  top: 11%;
  right: -185px;
  transition: 0.7s;
}

input.searchbar:focus {
  color: gold;
  right: 0;
  transition: 0.3s;
}

#homediv {
  background-image: url(Images/school-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  border-bottom: 3px solid white;
  border-radius: 7px;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

#infodiv {
  background-color: royalblue;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  height: 990px;
  width: 100%;
  top: 100%;
  text-align: center;
  border-top: 3px solid white;
  border-radius: 7px;
  color: white;
  overflow: auto;
}

#countdowndiv {
  background-color: darkcyan;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  height: 333px;
  width: 100%;
  top: calc(108% + 990px);
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 7px;
  color: white;
  overflow: auto;
}

#contactdiv {
  background-image: url(Images/googleplex.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  height: 550px;
  width: 100%;
  top: calc(108% + 990px + 333px);
  border-top: 3px solid white;
  border-radius: 7px;
  color: white;
  overflow: auto;
}

#homediv::-webkit-scrollbar {
  display: none;
}
#infodiv::-webkit-scrollbar {
  display: none;
}
#countdowndiv::-webkit-scrollbar {
  display: none;
}
#contactdiv::-webkit-scrollbar {
  display: none;
}
img.badgepic {
  height: 170px;
  width: 170px;
  margin-top: 8%;
}
h1 {
  width: 100%;
  color: white;
  font-size: 55px;
  font-family: notable;
  margin-top: 3%;
}
h3.subhone {
  width: 100%;
  color: snow;
  font-family: righteous;
  margin-top: 2%;
  letter-spacing: 1.7px;
}

h2.examctdn {
  width: 100%;
  text-align: center;
  font-family: poiretone;
  font-weight: bold;
  font-size: 60px;
  margin-top: 3%;
  color: white;
}
div.pttree {
  width: 30%;
  float: left;
  text-align: center;
  margin-left: 3%;
  margin-top: 2.7%;
}
div.speem {
  width: 30%;
  float: right;
  text-align: center;
  margin-right: 3%;
  margin-top: 2.7%;
}
h3.ctdn {
  font-family: orbitron;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#spmcn {
  background-color: white;
  font-size: 27px;
  font-family: poiretone;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 7px;
  color: black;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border: 2px solid limegreen;
}

#ptthreecn {
  background-color: white;
  font-size: 27px;
  font-family: poiretone;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 7px;
  color: black;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border: 2px solid limegreen;
}

h3.pr {
  width: 100%;
  text-align: center;
  font-family: poiretone;
  font-weight: bold;
  position: absolute;
  font-size: 30px;
  margin-top: 1%;
  text-decoration: underline;
}

h2.infosh {
  width: 100%;
  text-align: center;
  font-family: poiretone;
  font-weight: bold;
  font-size: 60px;
  margin-top: 3%;
}

figure.p {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  font-family: poiretone;
  text-align: center;
  margin-top: 7%;
}
img.imgp {
  border: 2px solid #F13C20;
  border-radius: 50%;
  width: 17%;
  height: 17%;
}
img.imgpn {
  border: 2px solid #F13C20;
  border-radius: 50%;
  width: 59%;
  height: 59%;
}
figure.pk {
  width: 23%;
  font-size: 28px;
  font-weight: bold;
  font-family: poiretone;
  text-align: center;
  margin-left: 2%;
  float: left;
}
figure.pkt {
  width: 23%;
  font-size: 28px;
  font-weight: bold;
  font-family: poiretone;
  text-align: center;
  margin-right: 2%;
  float: right;
}
figcaption.pntdbr {
  margin-top: 10px;
  color: #F13C20;
  font-weight: bolder;
  padding-top: 3px;
  border-top: 3px solid #F13C20;
}
div.pntdbrdiv {
  text-align: center;
  width: 100%;
}
div.moshhold {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  float: left;
}
h6.hto {
  font-family: charmonman;
  font-size: 14px;
  text-align: center;
}
h3.motosh {
  font-family: charmonman;
  font-size: 47px;
  font-weight: bolder;
  text-align: center;
  border-radius: 24px;
  text-decoration: underline;
}

#infobar {
  background-color: #F13C20;
  width: 100%;
  height: 8%;
  text-align: center;
  top: calc(100% + 990px);
  position: absolute;
  overflow: auto;
}
#infobar::-webkit-scrollbar {
  display: none;
}
#ibm {
  background-color: #F13C20;
  width: 24%;
  height: 100%;
  border: 0px;
  color: white;
  font-size: 20px;
  font-family: mclaren;
  transition: 0.7s;
}

#ibm:hover {
  background-color: royalblue;
  transition: 0.5s
}

#guillemet {
  width: 55px;
  height: 55px;
  top: 50%;
  right: 0;
  position: absolute;
  background-color: royalblue;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#myMenuvm {
  z-index: 101;
  width: 600px;
  height: 37%;
  background-color: #F13C20;
  opacity: 0.99;
  text-align: center;
  padding-right: 37px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  bottom: 0;
  left: -1000px;
  transition: 0.7s;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#myMenut {
  z-index: 101;
  width: 550px;
  height: 66%;
  background-color: #F13C20;
  opacity: 0.99;
  text-align: center;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  bottom: 0;
  left: -1000px;
  transition: 0.7s;
  overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#myMenus {
  z-index: 101;
  width: 717px;
  height: 43%;
  background-color: #F13C20;
  opacity: 0.99;
  text-align: center;
  padding-right: 83px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  bottom: 0;
  left: -1000px;
  transition: 0.7s;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#myMenub {
  z-index: 101;
  width: 500px;
  height: 44%;
  background-color: #F13C20;
  opacity: 0.99;
  text-align: center;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  bottom: 0;
  left: -1000px;
  transition: 0.7s;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

h2.menue {
  margin-top: 7%;
  font-size: 35px;
  font-family: mclaren;
}

h3.menuec {
  margin-top: 3%;
  font-size: 15px;
  font-family: mclaren;
}

h3.smenuec {
  text-align: left;
  margin-top: 3%;
  font-size: 12px;
  font-family: mclaren;
}

h4.dsmenuec {
  margin-top: 3%;
  font-size: 9px;
  font-family: mclaren;
}

img.texam {
  margin-top: 3%;
  margin-bottom: 7%;
  border: 2px solid royalblue;
  border-radius: 20%;
}
img.trexam {
  margin-top: 3%;
  margin-bottom: 7%;
  border: 2px solid royalblue;
  border-radius: 20%;
}
#myMenuvm::-webkit-scrollbar {
  display: none;
}
#myMenut::-webkit-scrollbar {
  display: none;
}
#myMenus::-webkit-scrollbar {
  display: none;
}
#myMenub::-webkit-scrollbar {
  display: none;
}

img.admin {
  margin-top: 3%;
  width: 150px;
  height: 189px;
  border: 2px solid royalblue;
  border-radius: 50%;
}

h3.menueca {
  margin-top: 3%;
  font-size: 18px;
  font-family: mclaren;
  color: white;
  padding-top: 7px;
  border-top: 2px solid royalblue;
}

h2.ourcntt {
  font-size: 55px;
  font-family: poiretone;
  font-weight: 900;
  margin-top: 1%;
  text-align: center;
}

img.slmp {
  width: 457px;
  height: 288px;
  margin-top: 2%;
  margin-left: 2%;
  border: 2px solid #F13C20;
  border-radius: 20px;
  transition: 0.5s;
}
img.slmp:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
  transition: 0.3s;
}
img.fblg {
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 2%;
  margin-right: 1%;
  transition: 0.7s;
}
img.fblg:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
  transition: 0.3s;
}
img.twlg {
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 2%;
  margin-right: 1%;
  transition: 0.7s;
}
img.twlg:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
  transition: 0.3s;
}
img.fros {
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 2%;
  margin-right: 1%;
  transition: 0.7s;
}
img.fros:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
  transition: 0.3s;
}
select.sw {
  float: right;
  font-size: 15px;
  font-family: mclaren;
  margin-top: 7%;
  margin-right: 3%;
  background-color: #F13C20;
  border: 0px;
  transition: 0.7s;
}
select.sw:hover {
  background-color: gold;
  transition: 0.3s;
}

form.fcs {
  display: inline;
}
#comm {
  background-color: royalblue;
  border: 0px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  margin-left: 55%;
  padding-left: 11px;
  font-size: 12px;
  font-family: mclaren;
  color: white;
}
input.sbmt {
  background-color: #F13C20;
  margin-left: 55%;
  border: 0px;
  font-family: mclaren;
  cursor: pointer;
}

h2.vstrcnt {
  font-size: 20px;
  font-family: mclaren;
  text-align: center;
  margin-top: 3%;
}
h3.svstrsnt {
  text-align: center;
  background-color: white;
  font-size: 18px;
  font-family: mclaren;
  border: 2px solid royalblue;
  border-radius: 24px;
  color: black;
  transition: 0.7s;
}
h3.svstrsnt:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
  transition: 0.3s;
}

h3.fox {
  font-size: 20px;
  font-family: mclaren;
  float: right;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 3%;
  background-color: royalblue;
  border-radius: 50%;
  transition: 0.7s;
}

h3.fox:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
  transition: 0.3s;
}
